---
import PanelLayout from "../../layouts/PanelLayout.astro";
import SMM_ServicesCards from "../../components/SMM_servicesCards.astro"
import SearchForm from "../../components/SearchForm.astro";
import { optimizeImageUrl } from "../../js/utils";

interface serviceSchema{
    serviceColor: string,
    serviceLogo: {
        name: string,
        mediaType: string,
        url: string,
    },
    serviceTitle: string,
}

let SMMService_APIData : any[] = [];
let allPanelAPIs : string[] = [];
let platformsServiceCount : any[] = [];

//Fetching All Services
const allServicesFetch:any = await fetch(Astro.site + "api/services.json");
const allServiceRes : serviceSchema[] = await allServicesFetch.json();

//Fetching Already Saved Services
const allPanelServicesFetch: any = await fetch(Astro.site + "api/panelServices.json");
const allPanelServicesFrm_database = await allPanelServicesFetch.json();

for (let i = 0; i < allServiceRes.length; i++) {
    let count = 0;

    for (let j = 0; j < allPanelServicesFrm_database.length; j++) {
        if(allPanelServicesFrm_database[j].serviceName.toString().toLowerCase().includes(allServiceRes[i].serviceTitle.toString().toLowerCase()))
        count++;
    }
    platformsServiceCount.push([allServiceRes[i].serviceTitle, count]);
}
// console.log(platformsServiceCount);

---

<PanelLayout title="List of all Services" metaDescription="">
    <h1 class="font-bold text-center text-2xl">Available Social Media Marketing Services</h1>
    <div class="searchBox flex justify-center items-center">
        <div class="wrapper w-1/2">
            <SearchForm searchPagePath={"/services/search"}/>
        </div>
    </div>
    <div class="content-wrapper flex flex-wrap lg:justify-start justify-center gap-5 my-6 px-5">
        {
            allServiceRes.map((service, index)=>(
                <SMM_ServicesCards 
                    servicesCount={platformsServiceCount[index][1]} 
                    title={service.serviceTitle} 
                    imageLogoPath={optimizeImageUrl(service.serviceLogo.url)}>
                </SMM_ServicesCards>
            ))
        }
    </div>
</PanelLayout>

<script is:inline src="/assets/scripts/main.js"></script>

<script is:inline>
    allowServiceCardClick(".content-wrapper")
</script>