---
import MainLayout from "../layouts/MainLayout.astro";
import SMM_Panel_Card from "../components/SMM_Panel_Card.astro"

// import panelsData from "../data/temp-panel.js"

const allPanels = await fetch(Astro.site + "api/panels.json");
const responsePanels = await allPanels.json();
// console.log(responsePanels);

---

<MainLayout title="SMM Panel Listing - Home">
	<div class="indexHero text-center lg:w-2/4" slot="heroContent">
		<h1 class="text-3xl font-bold my-5">SMM Panel Listings</h1>
		<p class=" my-5">Exlore most popular SMM Panels with our listings.</p>

		<div class="searchBox my-5">
			<form action="" name="searchPanel" class="relative flex gap-3 items-center ">
				<input type="text" name="searchQuery" id="" class="w-full px-3 py-2 text-gray-800 rounded-lg" placeholder="Search Youtube Services">
				<i class="fa-solid fa-magnifying-glass absolute right-7 text-blue-500"></i>
			</form>
		</div>
	</div>
	
	<!-- SMM Panels Listing -->
	<SMM_Panel_Card SMMPanelLists={responsePanels}></SMM_Panel_Card>
	
</MainLayout>
