---
interface Props {
    siteTitle : string
}

const {siteTitle} = Astro.props
---

<footer class="flex justify-center items-center bg-slate-700 text-white">
    <div class="main-container w-[1150px]">
        <div class="wrapper w-full p-3">
            
            <div class="bottom flex justify-between items-center">
                <span>&copy; {siteTitle} | All Rights reserved</span>
            </div>
        </div>
    </div>
</footer>