---

---

<section class="hero relative lg:h-[50vh] text-white">
    <img src="/assets/images/banner.avif" alt="top background banner image" class="size-full object-cover absolute z-0 select-none pointer-events-none">
    <div class="hero-content relative size-full p-4 flex justify-center items-center Z-[1]">
        <slot/>
    </div>
</section>