---

---
<header class="bg-slate-700 z-10 top-0 left-0 w-full text-white flex justify-center items-center backdrop-blur-sm">
    <div class="main-container w-[1150px]">
        <div class="wrapper p-4 px-8 flex justify-between">
            <div class="nav-left flex items-center">
                <a href="/" class="logo">
                    <img src="/assets/images/logo.png" class="h-10" alt="">
                </a>
            </div>
    
            <div class="nav-right flex items-center">
                <div class="menuButton z-[5] absolute right-10">
                    <i class="block lg:hidden fa-solid fa-bars cursor-pointer text-2xl "></i>
                </div>
                <nav class="flex gap-4">
                    <ul class="flex gap-10">
                        <li><a href="javascript:void(0)">Home</a></li>
                        <li><a href="javascript:void(0)">SMM Panels</a></li>
                        <li><a href="javascript:void(0)">Blogs</a></li>
                    </ul>
                    <ul class="flex gap-4 border-l border-gray-500 pl-4">
                        <li><a href="/admin" class="cursor-pointer"><i class="fa-solid fa-user-tie-hair"></i></a></li>
                    </ul>
    
                </nav>
            </div>
        </div>        
    </div>
</header>