---
interface Props {
    searchPagePath: string
}

const {searchPagePath} = Astro.props;
---

<div class="searchBox my-5">
    <form onsubmit="return validateSearchForm()"
        action={searchPagePath}
        name="searchPanel"
        class="relative flex gap-3 items-center"
    >
        <input
            type="text"
            name="q"
            required
            id="searchQuery"
            class="w-full px-3 py-2 text-gray-800 rounded-lg shadow-xl"
            placeholder="Search Youtube Services"
        />
        <i
            class="fa-solid fa-magnifying-glass absolute right-7 text-blue-500"
        ></i>
    </form>
</div>