---
import { removeHTMLTags } from '../js/utils'
interface Props {
    imageSrc : string,
    panelTitle : string,
    descriptionText : string,
    slugURL : string
}

const {imageSrc ,panelTitle ,descriptionText ,slugURL} = Astro.props;

// console.log(imageSrc ,panelTitle ,descriptionText ,slugURL);
---

<article
    class="post p-5 rounded-lg flex gap-3 shadow-lg border border-gray-200 bg-white">
    <img
        src=
        {
            imageSrc != ""
            ? imageSrc 
            :"/assets/images/no-image-available.jpg"
        }
        alt=""
        class="rounded-lg w-1/4 object-cover object-left"
    />
    <span class="details w-3/4">
        <h3 class="text-blue-600 font-semibold"><a href={"/panels/"+ slugURL}>{panelTitle}</a></h3>
        <span class="textContent line-clamp-2" set:html={removeHTMLTags(descriptionText).substring(0, 120)}></span>
        <a
            href={"/panels/"+ slugURL}
            class="linkbtn block w-fit p-1 px-2 my-1 rounded-xl text-black border hover:text-white hover:bg-[#3838be] hover:shadow-lg hover:underline"
            ><i class="fa-solid fa-arrow-right"></i> Know more...</a
        >
    </span>
</article>
