---
interface panelStructure
{
    id: string,
    paneFeaturedImage: {
      url: string,
    },
    panelAPIKey: string,
    panelAPILink: string,
    panelTitle: string,
    panelWebsiteURL: string,
}

interface Props {
    SMMPanelLists : panelStructure[]
}
const { SMMPanelLists } = Astro.props;

---

<section class="panel-container mb-14">

    <div class="header flex justify-between items-center w-full my-4">
        <span>
            <h2 class="text-xl font-semibold">Latest SMM Panels</h2>
            <p>Explore the most recently added SMM Panels and more...</p>
        </span>
        <a href="/smm-panels">See all</a>
    </div>

    <div class="wrapper flex justify-center items-center flex-wrap gap-5">
        {
             SMMPanelLists.map((panel) => (
                 <div class="smmpanelCard lg:w-[32%] p-5 rounded-lg flex flex-col gap-3 shadow-lg border border-gray-200">
                    <a href={"/smm-panel/"+ panel.id.toLocaleLowerCase().replaceAll(" ", "-")}>
                        <img
                             src={panel.paneFeaturedImage.url}
                             alt={panel.panelTitle + " Logo image"}
                             class="w-full h-44 object-cover"
                         />
                    </a>
                     <h3 class="text-blue-600 font-semibold"><a href={"/smm-panel/"+ panel.id.toLocaleLowerCase().replaceAll(" ", "-")}>{panel.panelTitle}</a></h3>
                     <div class="bottom flex justify-between text-sm">
                         <span class="url flex items-center gap-2">
                             <i class="fa-regular fa-globe" />
                             <a href={panel.panelWebsiteURL}>{panel.panelWebsiteURL}</a>
                         </span>
                     </div>
                 </div>
             ))
        }
    </div>
</section>