---
interface Props {
    title:string,
    servicesCount?: number,
    panelCount? : number,
    imageLogoPath : string
}

const {title, servicesCount, panelCount, imageLogoPath} = Astro.props;
---

<article class="flex gap-2 w-[32%] p-3 border rounded-md shadow-md hover:shadow-lg">
    <img alt={title} class="rounded-lg size-20" src={imageLogoPath}>
    <span>
        <h2 class="font-semibold hover:underline"><a href={"/services/"+ title.toLowerCase().replaceAll(" ", "-")}>{title}</a></h2>
        <span class="block">{servicesCount} Services</span>
    </span>
</article>