---
import AdminLayout from "../../layouts/adminLayout.astro";

import {isAdminLoggedIn} from "../../js/utils";
import DashboardGreeting from "../../components[admin]/DashboardGreeting.astro";

const adminCookie = Astro.cookies.get("admin");

if(!isAdminLoggedIn(adminCookie)){
    return Astro.redirect("/admin/signin/");
}

const currentDate = new Date();
const currentHour = currentDate.getHours();
let greeting, coverPic;
if (currentHour < 12) {
    coverPic = "admin-cover1.jpg";
    greeting = "Good morning!";
} else if (currentHour < 18) {
    coverPic = "admin-cover2.jpg";
    greeting = "Good afternoon!";
} else {
    coverPic = "admin-cover3.jpg";
    greeting = "Good evening!";
}
---

<AdminLayout pageName="Dashboard" pageTitle="Your Dashboard">
    <DashboardGreeting {coverPic} {greeting}></DashboardGreeting>

    <div class="dashboard-cards flex flex-wrap gap-4 justify-center items-center w-full mb-5">
        <div class="cards flex gap-3 items-center lg:w-[32%] border border-[#4d4d4d86] rounded-md p-4 hover:shadow-lg">
            <span class="size-12 flex justify-center items-center rounded-full text-xl bg-blue-200">
                <i class="fa-duotone fa-newspaper text-blue-700"></i>
            </span>
            <span>
                <p>SMM Panels</p>
                <p class="text-xl font-bold">Counter</p>
            </span>
        </div>
        <div class="cards flex gap-3 items-center lg:w-[32%] border border-[#4d4d4d86] rounded-md p-4 hover:shadow-lg">
            <span class="size-12 flex justify-center items-center rounded-full text-xl bg-green-200">
                <i class="fa-solid fa-page text-green-700"></i>
            </span>
            <span>
                <p>Pages</p>
                <p class="text-xl font-bold">Counter</p>
            </span>
        </div>
        <div class="cards flex gap-3 items-center lg:w-[32%] border border-[#4d4d4d86] rounded-md p-4 hover:shadow-lg">
            <span class="size-12 flex justify-center items-center rounded-full text-xl bg-pink-200">
                <i class="fa-duotone fa-messages text-pink-700"></i>
            </span>
            <span>
                <p>New Messages</p>
                <p class="text-xl font-bold">Counter</p>
            </span>
        </div>
    </div>
</AdminLayout>

<script is:inline src="/assets/scripts/main.js"></script>
<script>
    // Update the time immediately and then every minute
    updateTime();
    setInterval(updateTime, 1000); // 60000 milliseconds = 1 minute
</script>

