---
import { isAdminLoggedIn } from "../../js/utils";
import AdminLayout from "../../layouts/adminLayout.astro";
const adminCookie = Astro.cookies.get("admin");

if(!isAdminLoggedIn(adminCookie)){
    return Astro.redirect("/admin/signin/");
}

---

<AdminLayout pageTitle="Messages" pageName="Messages">
    
    <div class="development flex justify-center items-center size-full">
        <img src="https://www.tnhighways.tn.gov.in/images/under_dev.gif">
    </div>

</AdminLayout>