---
import AdminLayout from "../../layouts/adminLayout.astro";

---

<AdminLayout pageTitle="New Page" pageName="New Page">
    <div class="development flex justify-center items-center size-full">
        <img src="https://www.tnhighways.tn.gov.in/images/under_dev.gif">
    </div>
</AdminLayout>