---
import AdminLayout from "../../layouts/adminLayout.astro";


---

<AdminLayout pageTitle="Users" pageName="Users">
    
    <div class="development flex justify-center items-center size-full">
        <img src="https://www.tnhighways.tn.gov.in/images/under_dev.gif">
    </div>

</AdminLayout>